<div class="row">
<div class="col-md-4"><h1 class="text-center">To Do</h1></div>
<%= render @to_do %>
</div>
<div class="col-md-4"><h1 class="text-center">Doing</h1></div>
<%= render @doing %>
</div>
<div class="col-md-4"><h1 class="text-center">Done</h1></div>
<%= render @done %>
</div>
</div>



<br>
<%= link_to 'New Task', new_task_path %>
